@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Work+Sans:wght@400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
ul li {
  list-style: none;
}

/* Header section styles */

header {
  background: url("../images/banner/banner1.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero {
  width: 50%;
  margin-right: 200px;
}
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #151414;
  margin-bottom: 24px;
}

.hero-des {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #444343;
  margin-bottom: 30px;
}
.hero-btn {
  text-align: right;
}
.btn {
  padding: 20px 35px;
  background: #f15b22;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

/* Failure section styles */

.margin {
  margin: 130px 230px;
}
.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.content-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
  width: 50%;
}
.content-des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
  width: 50%;
}

span img {
  margin-right: 14px;
}
li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

/* Plans section style here */
.plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 55px;
}
.plan-des {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #737272;
}

.plan-title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;
}
.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* Footer section styles */
footer {
  padding: 130px 230px;
  background: #151414;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 50%;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  margin-bottom: 15px;
}
.footer-des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 32px;
  width: 60%;
}
.btn-white {
  padding: 20px 35px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  color: #f15b22;
  font-weight: 600;
  font-size: 20px;
}
form input {
  background: #151414;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  border: 1px solid #ffffff;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
}
h4 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Bonus section styles */

.bonus {
  background: linear-gradient(to right,#F15B22,#f15d2204),url("../images/watch.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bonus-container{
    width: 50%;
    margin-left: 230px;
}
.bonus-title{
font-weight: 700;
font-size: 40px;
color: #FFFFFF;
margin-bottom: 20px;
}

/* Testimonial section styles */
   #testimonial {
  background: linear-gradient(to top,rgba(161, 161, 161, 0.997),rgba(196, 196, 196, 0.182)), url('../images/testimonial.jpg') no-repeat center top / cover;
  padding: 130px 230px;
  height: 80vh;
}
.grid-testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.quote img {
  height: 35px;
}
#testimonial p {
  margin: 45px 0;
  font-weight: 400;
font-size: 19px;
color: #020202;
}
.signature {
  margin-bottom: 15px;
}
.signature img {
  height: 45px;
}
#testimonial span {
  font-size: 140%;
}
.testimonial-title{
  color: #151414;
}