@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Work+Sans:wght@400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
ul li {
  list-style: none;
}

/* Header section styles */

header {
  background: url("../images/banner/banner1.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero {
  width: 50%;
  margin-right: 200px;
}
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #151414;
  margin-bottom: 24px;
}

.hero-des {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #444343;
  margin-bottom: 30px;
}
.hero-btn {
  text-align: right;
}
.btn {
  padding: 20px 35px;
  background: #f15b22;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

/* Failure section styles */

section {
  margin: 130px 230px;
}
.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.content-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
  width: 50%;
}
.content-des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
  width: 50%;
}

span img {
  margin-right: 14px;
}
li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

/* Plans section style here */
.plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 55px;
}
.plan-des {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #737272;
}

.plan-title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;
}
.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
